:root {
     --blue-color:#2196F3;
     --black-color:#212121;
     --gray-color:#757575;
     --white-color: #FFFF;
     --blue-background-color:#2196F3;
     --dark-background-color: #2F303A;
}
.root{
    background-color: var(--dark-background-color);
    
}

.studio {
    color: var(--blue-color)!important;
}

.portfolio,
.contact {
    color:var(--black-color);
}

.email {
    color:var(--blue-color);
}

.tel {
    color:var(--gray-color);
}

.h1 {
    color:var(--white-color)
}

.button {
    color: var(--white-color)!important;
}